{% extends "base.html" %}

{% block content %}
<br/>
<br/>
    <h1>Model: {{ data[0] }}</h1>
    <ul>
        <p>pre-defined ENV variables for bash script to use</p>
        <li>JOB_NAME: either 'ps' or 'worker' or 'chief'</li>
        <li>TASK_ID: the index of the job</li>
        <li>MODEL_NAME: {{ data[0] }} in this case</li>
        <li>PS_HOSTS:  a string of ps hosts:port seperated by commar</li>
        <li>WORKER_HOSTS: a string of worker hosts:port seperated by commar</li>
        <li>NUM_EPOCH: for training duration</li>
        <li>NUM_WORKERS: nodes that use GPU</li>
        <li>TF_CONFIG: used for tensorflow</li>
    </ul>
    <br/>
    <br/>
    <form action="" method="post">
        {{ forms.csrf_token }}
        <p>
            {{ forms.script.label }}<br/>
            {% set f = forms.script.process_data(data[1]) %}
            {{ forms.script(cols=80, rows=20) }}
            {% for error in forms.script.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ forms.image.label }}
            {{ forms.image(value=data[2], cols=60) }}
            {% for error in forms.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ forms.desc.label }}
            {{ forms.desc(value=data[3], cols=60) }}
            {% for error in forms.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<button type="submit" class="btn btn-primary">UPDATE</button>
    </form>

    <br/>
    <br/>
    <form action="" method="post">
        {{ formd.csrf_token }}
		<button type="submit" class="btn btn-danger">DELETE</button>
    </form>
<br/>
<br/>
{% endblock %}
