{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<h1>Listing Models</h1>
<table class="table table-hover table-primary">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Command</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<br/>
<h1>Built-in Environment Variables</h1>
<ul>
  <li>PS_HOSTS</li>
  <li>WORKER_HOSTS</li>
  <li>NUM_EPOCH</li>
  <li>MODEL_NAME</li>
  <li>SIGNATURE</li>
  <li>POD_NAME</li>
</ul>
{% endblock %}
