{% extends "base.html" %}

{% block content %}
<br/>
<br/>
    <h1>New Model</h1>
    <ul>
        <p>pre-defined ENV variables for bash script to use</p>
        <li>JOB_NAME: either 'ps' or 'worker' or 'chief'</li>
        <li>TASK_ID: the index of the job</li>
        <li>PS_HOSTS:  a string of ps hosts:port seperated by commar</li>
        <li>WORKER_HOSTS: a string of worker hosts:port seperated by commar</li>
        <li>NUM_EPOCH: for training duration</li>
        <li>NUM_WORKERS: nodes that use GPU</li>
        <li>TF_CONFIG: used for tensorflow</li>
        <li>MNT_CONTAINER_DIR: mounted path depending on mnt_option</li>
    </ul>
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.model_name.label }}
            {{ form.model_name(size=40) }}
            {% for error in form.model_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.script.label }}<br/>
            {{ form.script(cols=80, rows=20) }}
            {% for error in form.script.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}
            {{ form.image(size=60) }}
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.log_dir.label }}
            {{ form.log_dir(size=60) }}
            {% for error in form.log_dir.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mnt_option.label }}
            {{ form.mnt_option() }}
            {% for error in form.mnt_option.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.desc.label }}
            {{ form.desc(size=60) }}
            {% for error in form.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
<br/>
<br/>
{% endblock %}
