{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<a href="{{ url_for('templates_new') }}" class="btn btn-primary btn-lg" role="button">New Template</a>
<a href="{{ url_for('trainings_new') }}" class="btn btn-primary btn-lg" role="button">New Training</a>
<br/>
<br/>
<table class="table table-hover table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Template</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td><a href="{{ url_for('template', name=row[0]) }}">{{ row[0] }}</a></td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<br/>
{% endblock %}
