{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<h1>Template: {{ data[0] }}</h1>
<ul>
    <p>pre-defined ENV variables for bash script to use</p>
    <li>JOB_NAME: either 'ps' or 'worker' or 'chief'</li>
    <li>TASK_ID: the index of the job</li>
    <li>PS_HOSTS:  a string of ps hosts:port seperated by commar</li>
    <li>WORKER_HOSTS: a string of worker hosts:port seperated by commar</li>
    <li>NUM_EPOCH: for training duration</li>
    <li>NUM_WORKERS: nodes that use GPU</li>
    <li>TF_CONFIG: used for tensorflow</li>
</ul>
<br/>
<br/>

    <form action="" method="post">
        {{ formu.csrf_token }}
        <p>
            {{ formu.script.label }}<br/>
            {% set f = formu.script.process_data(data[1]) %}
            {{ formu.script(cols=80, rows=20) }}
            {% for error in formu.script.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ formu.image.label }}
            {{ formu.image(value=data[2], cols=60) }}
            {% for error in formu.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ formu.log_dir.label }}
            {{ formu.log_dir(value=data[3], cols=60) }}
            {% for error in formu.log_dir.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>   <p>
            {{ formu.mnt_option.label }}
            {{ formu.mnt_option(value=data[4]) }}
            {% for error in formu.mnt_option.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ formu.desc.label }}
            {{ formu.desc(value=data[5], cols=60) }}
            {% for error in formu.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<button type="submit" class="btn btn-primary">UPDATE</button>
    </form>


<br/>
<br/>
<form action="" method="post">
    {{ formd.csrf_token }}
    <button type="submit" class="btn btn-danger">DELETE</button>
</form>
<br/>
<br/>
{% endblock %}
