{% extends "base.html" %}

{% block content %}
<br/>
<br/>
    <form action="" method="post">
        {{ forms.csrf_token }}
        <p>{{ forms.submit() }}</p>
    </form>
<table class="table table-hover table-primary">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ready</th>
      <th scope="col">Status</th>
      <th scope="col">Description</th>
      <th scope="col">Log</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>
            <form action="" method="post">
                {{ formd.csrf_token }}
                <input type="hidden" name="name" value="{{ row[0] }}" />
                <p>{{ formd.submit() }}</p>
            </form>
        </td>
         <td>
            <form action="" method="post">
                {{ forml.csrf_token }}
                <input type="hidden" name="name" value="{{ row[0] }}" />
                <p>{{ forml.submit() }}</p>
            </form>
        </td>
    </tr>
    <tr></tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<br/>
{% if desc %}
<h1>Pod Description for Label: {{ label }}</h1>
  {% for line in desc %}
  <p>{{ line }}</p>
  {% endfor %}
{% endif %}
{% if log %}
<h1>Pod Log for Label: {{ label }}</h1>
  {% for line in log %}
  <p>{{ line }}</p>
  {% endfor %}
{% endif %}
<br/>
<br/>
{% endblock %}