{% extends "base.html" %}

{% block content %}
<br/>
<br/>
    <h1>New Training</h1>
    <form action="" method="post">
        {{ form.csrf_token }}

        <p>
            {{ form.train_name.label }}
            {{ form.train_name() }}
            {% for error in form.train_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.num_gpu.label }}
            {{ form.num_gpu() }}
            {% for error in form.num_gpu.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.num_cpu.label }}
            {{ form.num_cpu() }}
            {% for error in form.num_cpu.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.num_epoch.label }}
            {{ form.num_epoch() }}
            {% for error in form.num_epoch.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.params.label }}
            {{ form.params(value=data[10]) }}
            {% for error in form.params.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.template_name.label }}
            {{ form.template_name() }}
            {% for error in form.template_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <a href="{{ url_for('templates') }}">Templates Detail</a>
        </p>
        <p>
            {{ form.mail_to.label }}
            {{ form.mail_to() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
<br/>
<br/>
{% endblock %}
