{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<a href="{{ url_for('trainings', action='new') }}" class="btn btn-primary btn-lg" role="button">New Training</a>
<br/>
<br/>
<form action="" method="post">
  {{ form.csrf_token }}
  {{ form.train_name.label }} <br/>
  {{ form.train_name() }} <br/><br/>
  {% for error in form.train_name.errors %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  {{ form.kill_train() }} {{ form.remove_train() }}
</form>
<br/>
<br/>
{% endblock %}