{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<a href="{{ url_for('trainings_new') }}" class="btn btn-primary btn-lg" role="button">New Training</a>
<br/>
<br/>
<table class="table table-hover table-primary">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Training Label</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for option in form.train_option %}
    <tr>
      <td>{{ option() }}</td>
      <td><a href="{{ url_for('training', label=option.label) }}">{{ option.label }}</a></td>
      <td>aaa</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<br/>
{% endblock %}